.background {
    &-red {
        background-color: $red
    }

    &-green {
        background-color: $green
    }

    &-blue {
        background-color: $blue
    }

    &-navy {
        background-color: $navy
    }

    &-orange {
        background-color: $orange
    }

    &-white {
        background-color: $white
    }

    &-light-gray {
        background-color: $white-smoke
    }

    &-gray {
        background-color: $gray
    }

    &-dark-gray {
        background-color: $dark-gray
    }

    &-black {
        background-color: $black
    }

    &-gray,
    &-dark-gray,
    &-black,
    &-red,
    &-green,
    &-blue,
    &-navy,
    &-orange,
    &-gradient-gray,
    &-gradient-dark-gray,
    &-gradient-black,
    &-gradient-red,
    &-gradient-green,
    &-gradient-blue,
    &-gradient-navy,
    &-gradient-orange {
        color: $white
    }

    &-white,
    &-light-gray {
        color: $black
    }

    &-image {
        background-color: $black;
        color: $white;
        @include responsive-photo;
    }

    &-trans {
        &-red {
            background-color: $red;
            background-color: fade-out($red, .3)
        }

        &-orange {
            background-color: $orange;
            background-color: fade-out($orange, .3)
        }

        &-green {
            background-color: $green;
            background-color: fade-out($green, .3)
        }

        &-blue {
            background-color: $blue;
            background-color: fade-out($blue, .3)
        }

        &-navy {
            background-color: $navy;
            background-color: fade-out($navy, .3)
        }

        &-white {
            background-color: $white;
            background-color: fade-out($white, .2)
        }

        &-light-gray {
            background-color: $light-gray;
            background-color: fade-out($light-gray, .2)
        }

        &-gray {
            background-color: $gray;
            background-color: fade-out($gray, .3)
        }

        &-dark-gray {
            background-color: $dark-gray;
            background-color: fade-out($dark-gray, .3)
        }

        &-black {
            background-color: $pure-black;
            background-color: fade-out($pure-black, .4)
        }
    }

    &-gradient {
        &-red {
            @include angled-gradient($dark-red, $light-red, $red);
        }

        &-orange {
            @include angled-gradient($dark-orange, $light-orange, $orange);
        }

        &-green {
            @include angled-gradient($dark-green, $light-green, $green);
        }

        &-blue {
            @include angled-gradient($dark-blue, $light-blue, $blue);
        }

        &-navy {
            @include angled-gradient($dark-navy, $light-navy, $navy);
        }

        &-light-gray {
            @include angled-gradient(darken($light-gray, 20%), lighten($light-gray, 20%), $light-gray);
        }

        &-gray {
            @include angled-gradient(darken($gray, 20%), lighten($gray, 20%), $gray);
        }

        &-dark-gray {
            @include angled-gradient(darken($dark-gray, 20%), lighten($dark-gray, 20%), $dark-gray);
        }

        &-black {
            @include angled-gradient(darken($black, 20%), lighten($black, 20%), $black);
        }
    }
}

.background-overlay {
    position: relative;

    >* {
        position: inherit;
        z-index: 2;
    }

    &:before {
        display: block;
        position: absolute;
        z-index: 0;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: fade-out($pure-black, .4);
    }
}

.hover {
    &-shadow:hover {
        @include drop-shadow(1px, 1px, 5px, fade-out($pure-black, .8));
    }

    &-background-white:hover {
        background-color: $white;
    }

    &-background-light-gray:hover {
        background-color: $white-smoke;
    }
}

[class*="hover-"] {
    @include transition;
}

.shadow {
    @include drop-shadow(1px, 1px, 5px, fade-out($pure-black, .6));
}