// BASE STYLES AND RESETS

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    line-height: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p:empty {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

ul {
    list-style: none;
    padding-left: 30px;

    &>li {
        position: relative;

        &:before {
            display: block;
            position: absolute;
            content: '';
            top: 3px;
            left: -45px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid $red;
            border-top: 15px solid transparent;
        }
    }
}

ol {
    list-style-type: decimal;
    margin: 0;
    padding-left: $base-spacing;
    font-size: 18px;
    line-height: 1.1em;

    li {
        padding: 0;
    }

    ol {
        list-style-type: lower-alpha;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
img {
    margin:0;
    margin-top: $base-spacing;

    &:first-child {
        margin-top: 0px;
    }
}

li,
h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p,
p+p,
.text-label+p,
.text-label+h1,
.text-label+h2,
.text-label+h3,
.text-label+.triangle-group,
.text-label-group+p,
.text-block-group+p {
    margin-top: $base-spacing / 2;

    &:first-child {
        margin-top: 0px;
    }

    &:empty {
        margin-top: 0px;
    }
}

///////////////////////////////////  FORMS
label {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: .75rem;
    line-height: 1em;
    margin: ($base-spacing / 4) 0;
    font-weight: 600 !important;
    @include uppercase;
    color: $black;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: .75em;
    margin-bottom: $base-spacing;
    background-color: $white;
    border: 1px solid $iron;
    font-family: $myriad-pro;
    font-size: .875rem;
    color: $black;
}

input:focus,
select:focus,
textarea:focus {
    outline: 0;
    outline: none;
    background-color: $white-smoke !important;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: auto;
    margin-bottom: $base-spacing / 4;
    margin-left: 1px;
}

select {
    display: block;
    width: 100%;
    padding: .75em;
    margin-bottom: $base-spacing;
    background-color: $white;
    border: 1px solid $iron;
    font-size: 14px;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
