//CARD BETWEEN ROWS
.in-between-card.row {
	position: relative;
	z-index: 5;

	.card {
		position: relative;
		z-index: 5;
		background-color: $white;
		padding: 20px;
		color: $dark-gray;
		@include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
	}

	@media $medium {
		margin-top: -150px;
		margin-bottom: 60px;

		.card {
			padding: 30px;
		}
	}
}

section.above-card {
	@media $medium {
		padding-bottom: 150px;
		position: relative;
		z-index: 4;
	}
}

//V1 homepage:
#home-page {
	#hero-banner {
		background-image: url($phoenix-city-photo);
	}

	//end hero banner

	#why-attend {

		//stick the button to the bottom of the col
		.triangle-group {
			@include display(flex);
			@include flex-direction(column);
			@include flex-wrap(wrap);
			max-width: none;
			min-height: 100%;

			>p {
				padding-bottom: 20px;
			}

			.cta-button {
				margin-top: auto;
			}
		}
	}

	//end why attend

	#world2018-highlights {
		.speaker-card {
			position: relative;
			width: 100%;
			margin-bottom: 15px;

			.speaker-photo {
				max-width: 75px;

				&:before {
					display: none;
				}
			}

			@media $medium {
				max-width: none;

				.speaker-photo {
					display: inline-block;
					vertical-align: middle;
					width: 70px;
					margin-right: 10px;
				}

				.info-box {
					display: inline-block;
					vertical-align: middle;
					max-width: "calc(100% - (80px + 3.5px))";

					p:last-child {
						font-size: 16px;
						line-height: 18px;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	#pricing {
		.pricing-wrapper {
			padding: 30px 20px;
		}

		.pricing-block {
			text-align: center;
			color: $gray;
			padding: 20px;

			@media $xlarge {
				width: auto;
			}

			&.current {
				background-color: transparent;
				padding: 30px 20px;
				margin-left: 20px;
				color: $white;
				background-color: fade-out($pure-black, .2);

				.type {
					color: $white;
				}
			}
		}
	}

	//end pricing

}



.speaker-photo {
	@include responsive-photo;
	background-image: url(https://custom.cvent.com/83AD54AE0B7F4CBC94A9A945D0A278DA/pix/22ad991133fb4628b9ea0b45703e7d40.jpg);

	&:before {
		content: '';
		display: block;
		padding-bottom: "calc(100% - 26px)";
	}

	&.mjs {
		background-image: url(https://custom.cvent.com/83AD54AE0B7F4CBC94A9A945D0A278DA/pix/43c206f628324285a3b7f3c62275bff7.jpg);
	}

	&.tim-lang {
		background-image: url(https://custom.cvent.com/83AD54AE0B7F4CBC94A9A945D0A278DA/pix/5d23d4a536d24eb4806db1c008cbbe67.jpg);
	}

	&.susan-cook {
		background-image: url(https://custom.cvent.com/83AD54AE0B7F4CBC94A9A945D0A278DA/pix/443700ed04cd47d6a10d2f72d96b3862.jpg);
	}

	&.hugh-owen {
		background-image: url(https://custom.cvent.com/83AD54AE0B7F4CBC94A9A945D0A278DA/pix/fb9c27225154448a89479e43a4e8f8b7.jpg);
	}

	&.phong-le {
		background-image: url(https://custom.cvent.com/83AD54AE0B7F4CBC94A9A945D0A278DA/pix/48e7c9a8ed67459ca1c29357ea6b08a4.jpg);
	}
}






//general special events blocks
.special-event-box {
	position: relative;
	background-color: $white;
	color: $black;
	min-height: 100%;
	@include box-shadow(1px 1px 5px fade-out($pure-black, .5));
	@include transition;

	&:hover .header-box:before {
		opacity: 0.4;
	}

	.header-box {
		position: relative;
		padding: 40px 20px;
		color: $white;
		@include responsive-photo;

		>* {
			z-index: 1;
			position: relative;
		}

		&:before {
			display: block;
			position: absolute;
			z-index: 0;
			content: '';
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			opacity: 0.5;
			background-color: $pure-black;
			@include transition;
		}

		&.education {
			background-image: url($education-workshop);
		}

		&.womens-networking {
			background-image: url($womens-networking);
		}

		&.welcome-reception {
			background-image: url($world2017-reg-desk-wide);
		}

		&.five-k {
			background-image: url($womens-5k);
		}

		&.industry-reception {
			background-image: url($world2016-showcase-booth-mstr);
		}

		&.world-party {
			background-image: url($party-drinks);
		}

		&.partner-day {
			background-image: url($world2016-big-audience);
		}

		&.datathon {
			background-image: url($datathon);
		}

		&.tech-talks {
			background-image: url($tech-talks);
		}
	}

	.content-box {
		position: relative;
		padding: 20px;
	}
}




//SLICK SLIDER STYLES
.slick-slider {
	display: block;
	position: relative;
	padding: 0 30px !important;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;

	&:not(.slick-initialized) {
		display: none;
	}

	.slick-track,
	.slick-list {
		@include translate3d;
	}
}

.slick-track {
	@include display(flex);
	@include position(relative, 0, 0, 0);
	padding: 10px 0;

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-list {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slide {
	@include display(flex);
	@include align-items(center);
	min-height: 100%;
	outline: none;

	&.col {
		margin-left: 0;
	}

	[dir="rtl"] & {
		@include flex-direction(row-reverse);
	}

	&.slick-loading img {
		display: none;
	}

	&.dragging img {
		pointer-events: none;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

.slick-dots {
	display: block;
	width: 100%;
	@include no-list-style;
	text-align: center;

	li {
		display: inline-block;

		button {
			display: block;
			@include round;
			cursor: pointer;
			outline: none;
			@include transition;
			padding: 0;
			border: 0;
			font-size: 0;
			line-height: 0;
			color: transparent;
		}
	}

	// default
	li {
		padding: 10px;

		button {
			@include size(15px);
			background-color: $gray;

			&:hover,
			&:active {
				background-color: $dark-gray;
			}
		}

		&.slick-active button {
			background-color: $red;
		}
	}
}

.slick-arrow {
	display: block;
	position: absolute;
	top: 50%;
	@include translateY(-50%);
	z-index: 10;
	cursor: pointer;
	outline: none;
	@include transition;
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: none;
	outline: none;

	&:before,
	&:after {
		display: block;
		position: absolute;
		z-index: 1;
		content: '';
		top: 50%;
		left: 50%;
		height: 15px;
		width: 2px;
		background-color: $dark-gray;

		.background-red &,
		.background-orange &,
		.background-green &,
		.background-blue &,
		.background-navy &,
		.background-black &,
		.background-dark-gray &,
		.background-gray & {
			background-color: $light-gray;
		}

		@include transition();
	}

	&:before {
		margin-top: -5px;
		.rotation(-45deg);
	}

	&:after {
		margin-top: 5px;
		.rotation(45deg);
	}

	&.slick-prev {
		left: 0;
	}

	&.slick-next {
		right: 0;
	}

	.icon {
		@include transition;
	}

	&.slick-prev {
		@include rotate(180deg);
	}

	&.slick-hidden {
		display: none;
	}
}


.logo-slider {
	@media $medium {
		max-height: 200px;
		overflow: hidden;
	}

	.slick-slide {
		padding: 0;

		.ratio {
			width: "calc(100% - 20px)";
			margin: 0 auto;
			.box-shadow(1px 1px 5px fade-out($pure-black, .2));
		}
	}
}


.flagged-reg-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-top: 20px;

	.cta-button {
		margin-top: 0;
		display: block;
	}

	.discount-flag {
		display: block;
		background: $dark-red;
		padding: 5px 10px;
		@include box-shadow(1px 1px 3px fade-out($pure-black, .2));
		color: $white;
		text-transform: none;
		letter-spacing: normal;
		font-size: 14px;
		line-height: 16px;

		span {
			font-weight: 600;
		}
	}
}


//countdown timer for keynotes
#countdown-timer.keynote {
	margin-top: 10px;
	font-size: 38px;
	line-height: 1em;
	font-weight: 400;
	color: $dark-gray;

	.timer-block {
		white-space: nowrap;
	}

	.time-unit {
		font-size: 16px;
		margin: 0 5px 0 -5px;
	}

	@media $medium {
		font-size: 60px;
		line-height: 1em;

		.time-unit {
			font-size: 20px;
			margin: 0 10px 0 -10px;
		}
	}

	@media $large {
		font-size: 80px;
	}
}

.keynote-live-button {
	@include display(flex);
	@include flex(0, 1, auto);
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	@include align-items(center);

	position: relative;
	padding: 20px;
	border: 1px solid $white;
	margin: 20px auto;

	@include responsive-photo;
	background-image: url($world2017-keynote-tim-lang);
	background-color: $black;
	@include transition;

	&:before {
		display: block;
		position: absolute;
		z-index: 0;
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: fade-out($pure-black, .3);
		@include transition;
	}

	.icon,
	.text-content {
		.flex(0, 0, auto);
		width: 100%;
		position: relative;
		z-index: 1;
	}

	.icon {
		margin-top: 20px;
	}

	.text-content {
		font-size: 20px;
		line-height: 1em;
		font-weight: 400;
		text-align: center;
		color: $white;
	}

	@media $medium {
		padding: 20px 30px;

		&:hover {
			border: 1px solid $red;
			box-shadow: 1px 1px 5px fade-out($pure-black, .5);

			&:before {
				background-color: fade-out($red, .7);
			}
		}

		.icon {
			width: auto;
			margin: 0;
		}

		.text-content {
			.flex(1, 1, 0px);
			font-size: 30px;
			line-height: 1em;
			padding-right: 30px;
			text-align: left;
		}
	}
}




//agenda at a glance with colored bars

$base-11hr:100 / 11%;
$base-14hr:100 / 14%;
$base-20hr:100 / 20%;

.agenda-bars {
	display: block;
	position: relative;
	overflow: hidden;
	font-weight: 400;
	padding: 20px 0 30px 0;
	margin-bottom: 20px;

	.label-col {
		display: block;
		z-index: 1;
		float: left;
		width: 20%;

		.event-label {
			overflow: hidden;
			width: 100%;
			padding: 5px;
			height: 36px;
			color: $dark-gray;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		@media $small-only {
			display: none;
		}
	}

	.event-col {
		display: block;
		position: relative;
		float: left;
		width: 80%;

		@media $small-only {
			float: none;
			width: auto;
		}
	}

	.event {
		display: block;
		position: relative;
		z-index: 1;
		background-color: $black;
		color: white;

		.event-time {
			display: none;
		}

		.event-title {
			display: block;
			padding: 5px;
			height: 36px;
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&.special {
			background-color: $green;
		}

		&.reg {
			background-color: $blue;
		}

		&.session {
			background-color: $red;
		}

		&.meal {
			background-color: $orange;
		}

		@media $small-only {
			width: 100% !important;
			margin-left: 0px !important;
			margin-bottom: 20px;

			.event-title {
				height: auto;
				white-space: normal;
			}

			.event-time {
				display: block;
				background-color: fade-out($pure-black, .3);
				padding: 5px;
				font-size: 14px;
				line-height: 1em;
			}
		}
	}

	&.base-11hr .event {
		&.duration {
			&-1 {
				width: round($base-11hr, 2);

				&-plus {

					// 				&15 {width:round($base-11hr + $base-11hr * .25, 2);}
					&30 {
						width: round($base-11hr + $base-11hr * .50, 2);
					}

					// 				&45 {width:round($base-11hr + $base-11hr * .75, 2);}
				}
			}

			&-2 {

				// 			width:round($base-11hr * 2, 2);
				&-plus {
					&15 {
						width: round($base-11hr * 2 + $base-11hr * .25, 2);
					}

					// 				&30 {width:round($base-11hr * 2 + $base-11hr * .50, 2);}
					// 				&45 {width:round($base-11hr * 2 + $base-11hr * .75, 2);}
				}
			}

			&-3 {

				// 			width:round($base-11hr * 3, 2);
				&-plus {

					// 				&15 {width:round($base-11hr * 3 + $base-11hr * .25, 2);}
					&30 {
						width: round($base-11hr * 3 + $base-11hr * .50, 2);
					}

					// 				&45 {width:round($base-11hr * 3 + $base-11hr * .75, 2);}
				}
			}

			// 		&-4  {
			// 			width:round($base-11hr * 4, 2);
			// 			&-plus {
			// 				&15 {width:round($base-11hr * 4 + $base-11hr * .25, 2);}
			// 				&30 {width:round($base-11hr * 4 + $base-11hr * .50, 2);}
			// 				&45 {width:round($base-11hr * 4 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			&-5 {

				// 			width:round($base-11hr * 5, 2);
				&-plus {

					// 				&15 {width:round($base-11hr * 5 + $base-11hr * .25, 2);}
					&30 {
						width: round($base-11hr * 5 + $base-11hr * .50, 2);
					}

					// 				&45 {width:round($base-11hr * 5 + $base-11hr * .75, 2);}
				}
			}

			// 		&-6  {
			// 			width:round($base-11hr * 6, 2);
			// 			&-plus {
			// 				&15 {width:round($base-11hr * 6 + $base-11hr * .25, 2);}
			// 				&30 {width:round($base-11hr * 6 + $base-11hr * .50, 2);}
			// 				&45 {width:round($base-11hr * 6 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			// 		&-7  {
			// 			width:round($base-11hr * 7, 2);
			// 			&-plus {
			// 				&15 {width:round($base-11hr * 7 + $base-11hr * .25, 2);}
			// 				&30 {width:round($base-11hr * 7 + $base-11hr * .50, 2);}
			// 				&45 {width:round($base-11hr * 7 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			// 		&-8  {
			// 			width:round($base-11hr * 8, 2);
			// 			&-plus {
			// 				&15 {width:round($base-11hr * 8 + $base-11hr * .25, 2);}
			// 				&30 {width:round($base-11hr * 8 + $base-11hr * .50, 2);}
			// 				&45 {width:round($base-11hr * 8 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			&-9 {

				// 			width:round($base-11hr * 9, 2);
				&-plus {

					// 				&15 {width:round($base-11hr * 9 + $base-11hr * .25, 2);}
					// 				&30 {width:round($base-11hr * 9 + $base-11hr * .50, 2);}
					&45 {
						width: round($base-11hr * 9 + $base-11hr * .75, 2);
					}
				}
			}

			// 		&-10 {
			// 			width:round($base-11hr * 10, 2);
			// 			&-plus {
			// 				&15 {width:round($base-11hr * 10 + $base-11hr * .25, 2);}
			// 				&30 {width:round($base-11hr * 10 + $base-11hr * .50, 2);}
			// 				&45 {width:round($base-11hr * 10 + $base-11hr * .75, 2);}
			// 			}
			// 		}
		}

		&.left {
			&-1 {
				margin-left: round($base-11hr, 2);
				// 			&-plus {
				// 				&15 {margin-left:round($base-11hr + $base-11hr * .25, 2);}
				// 				&30 {margin-left:round($base-11hr + $base-11hr * .50, 2);}
				// 				&45 {margin-left:round($base-11hr + $base-11hr * .75, 2);}
				// 			}
			}

			// 		&-2  {
			// 			margin-left:round($base-11hr * 2, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-11hr * 2 + $base-11hr * .25, 2);}
			// 				&30 {margin-left:round($base-11hr * 2 + $base-11hr * .50, 2);}
			// 				&45 {margin-left:round($base-11hr * 2 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			&-3 {

				// 			margin-left:round($base-11hr * 3, 2);
				&-plus {
					&15 {
						margin-left: round($base-11hr * 3 + $base-11hr * .25, 2);
					}

					&30 {
						margin-left: round($base-11hr * 3 + $base-11hr * .50, 2);
					}

					// 				&45 {margin-left:round($base-11hr * 3 + $base-11hr * .75, 2);}
				}
			}

			&-4 {

				// 			margin-left:round($base-11hr * 4, 2);
				&-plus {

					// 				&15 {margin-left:round($base-11hr * 4 + $base-11hr * .25, 2);}
					&30 {
						margin-left: round($base-11hr * 4 + $base-11hr * .50, 2);
					}

					// 				&45 {margin-left:round($base-11hr * 4 + $base-11hr * .75, 2);}
				}
			}

			// 		&-5  {
			// 			margin-left:round($base-11hr * 5, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-11hr * 5 + $base-11hr * .25, 2);}
			// 				&30 {margin-left:round($base-11hr * 5 + $base-11hr * .50, 2);}
			// 				&45 {margin-left:round($base-11hr * 5 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			&-6 {

				// 			margin-left:round($base-11hr * 6, 2);
				&-plus {
					&15 {
						margin-left: round($base-11hr * 6 + $base-11hr * .25, 2);
					}

					// 				&30 {margin-left:round($base-11hr * 6 + $base-11hr * .50, 2);}
					// 				&45 {margin-left:round($base-11hr * 6 + $base-11hr * .75, 2);}
				}
			}

			// 		&-7  {
			// 			margin-left:round($base-11hr * 7, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-11hr * 7 + $base-11hr * .25, 2);}
			// 				&30 {margin-left:round($base-11hr * 7 + $base-11hr * .50, 2);}
			// 				&45 {margin-left:round($base-11hr * 7 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			// 		&-8  {
			// 			margin-left:round($base-11hr * 8, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-11hr * 8 + $base-11hr * .25, 2);}
			// 				&30 {margin-left:round($base-11hr * 8 + $base-11hr * .50, 2);}
			// 				&45 {margin-left:round($base-11hr * 8 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			// 		&-9  {
			// 			margin-left:round($base-11hr * 9, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-11hr * 9 + $base-11hr * .25, 2);}
			// 				&30 {margin-left:round($base-11hr * 9 + $base-11hr * .50, 2);}
			// 				&45 {margin-left:round($base-11hr * 9 + $base-11hr * .75, 2);}
			// 			}
			// 		}
			// 		&-10 {
			// 			margin-left:round($base-11hr * 10, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-11hr * 10 + $base-11hr * .25, 2);}
			// 				&30 {margin-left:round($base-11hr * 10 + $base-11hr * .50, 2);}
			// 				&45 {margin-left:round($base-11hr * 10 + $base-11hr * .75, 2);}
			// 			}
			// 		}
		}

		//end left
	}

	//end base10
	&.base-14hr .event {
		&.duration {

			// 		&-1  {
			// 			width:round($base-14hr, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr + $base-14hr * .75, 2);}
			// 			}
			// 		}
			&-2 {
				width: round($base-14hr * 2, 2);
				// 			&-plus {
				// 				&15 {width:round($base-14hr * 2 + $base-14hr * .25, 2);}
				// 				&30 {width:round($base-14hr * 2 + $base-14hr * .50, 2);}
				// 				&45 {width:round($base-14hr * 2 + $base-14hr * .75, 2);}
				// 			}
			}

			// 		&-3  {
			// 			width:round($base-14hr * 3, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr * 3 + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr * 3 + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr * 3 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			&-4 {
				width: round($base-14hr * 4, 2);
				// 			&-plus {
				// 				&15 {width:round($base-14hr * 4 + $base-14hr * .25, 2);}
				// 				&30 {width:round($base-14hr * 4 + $base-14hr * .50, 2);}
				// 				&45 {width:round($base-14hr * 4 + $base-14hr * .75, 2);}
				// 			}
			}

			// 		&-5  {
			// 			width:round($base-14hr * 5, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr * 5 + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr * 5 + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr * 5 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			// 		&-6  {
			// 			width:round($base-14hr * 6, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr * 6 + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr * 6 + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr * 6 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			&-7 {
				width: round($base-14hr * 7, 2);
				// 			&-plus {
				// 				&15 {width:round($base-14hr * 7 + $base-14hr * .25, 2);}
				// 				&30 {width:round($base-14hr * 7 + $base-14hr * .50, 2);}
				// 				&45 {width:round($base-14hr * 7 + $base-14hr * .75, 2);}
				// 			}
			}

			// 		&-8  {
			// 			width:round($base-14hr * 8, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr * 8 + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr * 8 + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr * 8 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			//		&-9  {
			//			width:round($base-14hr * 9, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr * 9 + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr * 9 + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr * 9 + $base-14hr * .75, 2);}
			// 			}
			//		}
			// 		&-10 {
			// 			width:round($base-14hr * 10, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr * 10 + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr * 10 + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr * 10 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			// 		&-11 {
			// 			width:round($base-14hr * 11, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr * 11 + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr * 11 + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr * 11 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			&-12 {

				// 			width:round($base-14hr * 12, 2);
				&-plus {

					// 				&15 {width:round($base-14hr * 12 + $base-14hr * .25, 2);}
					&30 {
						width: round($base-14hr * 12 + $base-14hr * .50, 2);
					}

					// 				&45 {width:round($base-14hr * 12 + $base-14hr * .75, 2);}
				}
			}

			// 		&-13 {
			// 			width:round($base-14hr * 13, 2);
			// 			&-plus {
			// 				&15 {width:round($base-14hr * 13 + $base-14hr * .25, 2);}
			// 				&30 {width:round($base-14hr * 13 + $base-14hr * .50, 2);}
			// 				&45 {width:round($base-14hr * 13 + $base-14hr * .75, 2);}
			// 			}
			// 		}
		}

		//end duration
		&.left {

			// 		&-1  {
			// 			margin-left:round($base-14hr, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr + $base-14hr * .75, 2);}
			// 			}
			// 		}
			&-2 {
				margin-left: round($base-14hr * 2, 2);
				// 			&-plus {
				// 				&15 {margin-left:round($base-14hr * 2 + $base-14hr * .25, 2);}
				// 				&30 {margin-left:round($base-14hr * 2 + $base-14hr * .50, 2);}
				// 				&45 {margin-left:round($base-14hr * 2 + $base-14hr * .75, 2);}
				// 			}
			}

			// 		&-3  {
			// 			margin-left:round($base-14hr * 3, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr * 3 + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr * 3 + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr * 3 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			// 		&-4  {
			// 			margin-left:round($base-14hr * 4, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr * 4 + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr * 4 + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr * 4 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			&-5 {
				margin-left: round($base-14hr * 5, 2);
				// 			&-plus {
				// 				&15 {margin-left:round($base-14hr * 5 + $base-14hr * .25, 2);}
				// 				&30 {margin-left:round($base-14hr * 5 + $base-14hr * .50, 2);}
				// 				&45 {margin-left:round($base-14hr * 5 + $base-14hr * .75, 2);}
				// 			}
			}

			// 		&-6  {
			// 			margin-left:round($base-14hr * 6, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr * 6 + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr * 6 + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr * 6 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			&-7 {

				// 			margin-left:round($base-14hr * 7, 2);
				&-plus {

					// 				&15 {margin-left:round($base-14hr * 7 + $base-14hr * .25, 2);}
					&30 {
						margin-left: round($base-14hr * 7 + $base-14hr * .50, 2);
					}

					// 				&45 {margin-left:round($base-14hr * 7 + $base-14hr * .75, 2);}
				}
			}

			// 		&-8  {
			// 			margin-left:round($base-14hr * 8, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr * 8 + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr * 8 + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr * 8 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			// 		&-9  {
			// 			margin-left:round($base-14hr * 9, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr * 9 + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr * 9 + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr * 9 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			&-10 {

				// 			margin-left:round($base-14hr * 10, 2);
				&-plus {

					// 				&15 {margin-left:round($base-14hr * 10 + $base-14hr * .25, 2);}
					&30 {
						margin-left: round($base-14hr * 10 + $base-14hr * .50, 2);
					}

					// 				&45 {margin-left:round($base-14hr * 10 + $base-14hr * .75, 2);}
				}
			}

			// 		&-11 {
			// 			margin-left:round($base-14hr * 11, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr * 11 + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr * 11 + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr * 11 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			// 		&-12 {
			// 			margin-left:round($base-14hr * 12, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr * 12 + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr * 12 + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr * 12 + $base-14hr * .75, 2);}
			// 			}
			// 		}
			// 		&-13 {
			// 			margin-left:round($base-14hr * 13, 2);
			// 			&-plus {
			// 				&15 {margin-left:round($base-14hr * 13 + $base-14hr * .25, 2);}
			// 				&30 {margin-left:round($base-14hr * 13 + $base-14hr * .50, 2);}
			// 				&45 {margin-left:round($base-14hr * 13 + $base-14hr * .75, 2);}
			// 			}
			// 		}
		}

		//end left
	}

	//end base14
	&.base-20hr .event {
		&.duration {
			&-1 {
				width: round($base-20hr, 2);

				&-plus {

					//&15 {width:round($base-20hr + $base-20hr * .25, 2);}
					&30 {
						width: round($base-20hr + $base-20hr * .50, 2);
					}

					//&45 {width:round($base-20hr + $base-20hr * .75, 2);}
				}
			}

			&-2 {

				//width:round($base-20hr * 2, 2);
				&-plus {
					&15 {
						width: round($base-20hr * 2 + $base-20hr * .25, 2);
					}

					//&30 {width:round($base-20hr * 2 + $base-20hr * .50, 2);}
					//&45 {width:round($base-20hr * 2 + $base-20hr * .75, 2);}
				}
			}

			&-3 {

				// 	width:round($base-20hr * 3, 2);
				&-plus {

					// 		&15 {width:round($base-20hr * 3 + $base-20hr * .25, 2);}
					&30 {
						width: round($base-20hr * 3 + $base-20hr * .50, 2);
					}

					// 		&45 {width:round($base-20hr * 3 + $base-20hr * .75, 2);}
				}
			}

			&-4 {
				width: round($base-20hr * 4, 2);
				// &-plus {
				// 	&15 {width:round($base-20hr * 4 + $base-20hr * .25, 2);}
				// 	&30 {width:round($base-20hr * 4 + $base-20hr * .50, 2);}
				// 	&45 {width:round($base-20hr * 4 + $base-20hr * .75, 2);}
				// }
			}

			// &-5  {
			// 	width:round($base-20hr * 5, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 5 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 5 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 5 + $base-20hr * .75, 2);}
			// 	}
			// }
			&-6 {

				//width:round($base-20hr * 6, 2);
				&-plus {

					//&15 {width:round($base-20hr * 6 + $base-20hr * .25, 2);}
					&30 {
						width: round($base-20hr * 6 + $base-20hr * .50, 2);
					}

					//&45 {width:round($base-20hr * 6 + $base-20hr * .75, 2);}
				}
			}

			// &-7  {
			// 	width:round($base-20hr * 7, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 7 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 7 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 7 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-8  {
			// 	width:round($base-20hr * 8, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 8 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 8 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 8 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-9  {
			// 	width:round($base-20hr * 9, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 9 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 9 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 9 + $base-20hr * .75, 2);}
			// 	}
			// }
			&-10 {
				width: round($base-20hr * 10, 2);

				&-plus {

					//&15 {width:round($base-20hr * 10 + $base-20hr * .25, 2);}
					//&30 {width:round($base-20hr * 10 + $base-20hr * .50, 2);}
					&45 {
						width: round($base-20hr * 10 + $base-20hr * .75, 2);
					}
				}
			}

			// &-11 {
			// 	width:round($base-20hr * 11, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 11 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 11 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 11 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-12 {
			// 	width:round($base-20hr * 12, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 12 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 12 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 12 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-13 {
			// 	width:round($base-20hr * 13, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 13 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 13 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 13 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-14 {
			// 	width:round($base-20hr * 14, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 14 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 14 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 14 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-15 {
			// 	width:round($base-20hr * 15, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 15 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 15 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 15 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-16 {
			// 	width:round($base-20hr * 16, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 16 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 16 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 16 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-17 {
			// 	width:round($base-20hr * 17, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 17 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 17 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 17 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-18 {
			// 	width:round($base-20hr * 18, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 18 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 18 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 18 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-19 {
			// 	width:round($base-20hr * 19, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 19 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 19 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 19 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-20 {
			// 	width:round($base-20hr * 13, 2);
			// 	&-plus {
			// 		&15 {width:round($base-20hr * 20 + $base-20hr * .25, 2);}
			// 		&30 {width:round($base-20hr * 20 + $base-20hr * .50, 2);}
			// 		&45 {width:round($base-20hr * 20 + $base-20hr * .75, 2);}
			// 	}
			// }
		}

		&.left {

			// &-1  {
			// 	margin-left:round($base-20hr, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr + $base-20hr * .75, 2);}
			// 	}
			// }
			&-2 {
				margin-left: round($base-20hr * 2, 2);
				// &-plus {
				// 	&15 {margin-left:round($base-20hr * 2 + $base-20hr * .25, 2);}
				// 	&30 {margin-left:round($base-20hr * 2 + $base-20hr * .50, 2);}
				// 	&45 {margin-left:round($base-20hr * 2 + $base-20hr * .75, 2);}
				// }
			}

			&-3 {
				margin-left: round($base-20hr * 3, 2);
				// &-plus {
				// 	&15 {margin-left:round($base-20hr * 3 + $base-20hr * .25, 2);}
				// 	&30 {margin-left:round($base-20hr * 3 + $base-20hr * .50, 2);}
				// 	&45 {margin-left:round($base-20hr * 3 + $base-20hr * .75, 2);}
				// }
			}

			// &-4  {
			// 	margin-left:round($base-20hr * 4, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 4 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 4 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 4 + $base-20hr * .75, 2);}
			// 	}
			// }
			&-5 {

				//margin-left:round($base-20hr * 5, 2);
				&-plus {
					&15 {
						margin-left: round($base-20hr * 5 + $base-20hr * .25, 2);
					}

					&30 {
						margin-left: round($base-20hr * 5 + $base-20hr * .50, 2);
					}

					//&45 {margin-left:round($base-20hr * 5 + $base-20hr * .75, 2);}
				}
			}

			&-6 {

				//margin-left:round($base-20hr * 6, 2);
				&-plus {

					//&15 {margin-left:round($base-20hr * 6 + $base-20hr * .25, 2);}
					&30 {
						margin-left: round($base-20hr * 6 + $base-20hr * .50, 2);
					}

					//&45 {margin-left:round($base-20hr * 6 + $base-20hr * .75, 2);}
				}
			}

			// &-7  {
			// 	margin-left:round($base-20hr * 7, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 7 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 7 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 7 + $base-20hr * .75, 2);}
			// 	}
			// }
			&-8 {

				//margin-left:round($base-20hr * 8, 2);
				&-plus {
					&15 {
						margin-left: round($base-20hr * 8 + $base-20hr * .25, 2);
					}

					//&30 {margin-left:round($base-20hr * 8 + $base-20hr * .50, 2);}
					//&45 {margin-left:round($base-20hr * 8 + $base-20hr * .75, 2);}
				}
			}

			// &-9  {
			// 	margin-left:round($base-20hr * 9, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 9 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 9 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 9 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-10 {
			// 	margin-left:round($base-20hr * 10, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 10 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 10 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 10 + $base-20hr * .75, 2);}
			// 	}
			// }
			&-11 {

				//margin-left:round($base-20hr * 11, 2);
				&-plus {

					//&15 {margin-left:round($base-20hr * 11 + $base-20hr * .25, 2);}
					//&30 {margin-left:round($base-20hr * 11 + $base-20hr * .50, 2);}
					&45 {
						margin-left: round($base-20hr * 11 + $base-20hr * .75, 2);
					}
				}
			}

			// &-12 {
			// 	margin-left:round($base-20hr * 12, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 12 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 12 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 12 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-13 {
			// 	margin-left:round($base-20hr * 13, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 13 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 13 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 13 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-14 {
			// 	margin-left:round($base-20hr * 14, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 14 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 14 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 14 + $base-20hr * .75, 2);}
			// 	}
			// }
			&-15 {
				margin-left: round($base-20hr * 15, 2);
				// &-plus {
				// 	&15 {margin-left:round($base-20hr * 15 + $base-20hr * .25, 2);}
				// 	&30 {margin-left:round($base-20hr * 15 + $base-20hr * .50, 2);}
				// 	&45 {margin-left:round($base-20hr * 15 + $base-20hr * .75, 2);}
				// }
			}

			// &-16 {
			// 	margin-left:round($base-20hr * 16, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 16 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 16 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 16 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-17 {
			// 	margin-left:round($base-20hr * 17, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 17 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 17 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 17 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-18 {
			// 	margin-left:round($base-20hr * 18, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 18 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 18 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 18 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-19 {
			// 	margin-left:round($base-20hr * 19, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 19 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 19 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 19 + $base-20hr * .75, 2);}
			// 	}
			// }
			// &-20 {
			// 	margin-left:round($base-20hr * 13, 2);
			// 	&-plus {
			// 		&15 {margin-left:round($base-20hr * 20 + $base-20hr * .25, 2);}
			// 		&30 {margin-left:round($base-20hr * 20 + $base-20hr * .50, 2);}
			// 		&45 {margin-left:round($base-20hr * 20 + $base-20hr * .75, 2);}
			// 	}
			// }
		}
	}

	.time-markers {
		@include display(flex);
		@include flex(0, 1, auto);
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include justify-content(flex-start);
		@include align-items(stretch);
		position: absolute;
		z-index: 0;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		.time-bar {
			@include display(flex);
			@include flex(1, 1, auto);
			position: relative;
			border-left: 1px solid $iron;

			>span {
				position: absolute;
				top: 100%;
				left: 0;
				color: $gray;
				weight: 400;
				font-size: 16px;
			}
		}

		@media $small-only {
			display: none;
		}
	}
}

//icon header
.icon-header {
	@include display(flex);
	@include justify-content(flex-start);
	@include align-items(center);

	.icon {
		@include flex(0, 0, auto);
		margin-right: 10px;
		width: 60px;

		&.rounded {
			.round;
			padding: 15px;
		}

		&.red {
			background-color: $red;
		}

		&.orange {
			background-color: $orange;
		}

		&.green {
			background-color: $green;
		}

		&.blue {
			background-color: $blue;
		}

		&.navy {
			background-color: $navy;
		}

		&.white {
			background-color: $white;
		}

		&.light-gray {
			background-color: $light-gray;
		}

		&.gray {
			background-color: $gray;
		}

		&.dark-gray {
			background-color: $dark-gray;
		}

		&.black {
			background-color: $black;
		}
	}
}



.divider {
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 20px;
	background-color: $white;
	margin: 0 20px 5px 20px;
}


.angled-bkg {
	display: block;
	position: relative;
	z-index: 1;
	overflow: hidden;

	.angle-wrapper {
		display: block;
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 50%;
		top: 0;
		right: 0;
	}

	.angle.top {
		right: 0;
		top: 0;
		opacity: 0.5;
		height: auto;
		width: 60%;
	}

	.angle.bottom {
		right: 0;
		bottom: 0;
		opacity: 0.6;
		height: auto;
		width: 150%;
	}

	.angle {
		display: block;
		position: absolute;
		fill-rule: evenodd;
		fill: $pure-black;
		opacity: 0;

		.red&,
		.red-color-scheme & {
			fill: $red;
		}

		.orange&,
		.orange-color-scheme & {
			fill: $orange;
		}

		.green&,
		.green-color-scheme & {
			fill: $green;
		}

		.blue&,
		.blue-color-scheme & {
			fill: $blue;
		}

		.navy&,
		.navy-color-scheme & {
			fill: $navy;
		}
	}

	&.reverse-angles {
		.angle {
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";

			&.top,
			&.bottom {
				left: 0;
			}
		}
	}

	@media $medium {
		.angle-wrapper {
			overflow: hidden;
			width: 100%;
			left: 0;
			right: auto;
		}

		.angle.top {
			height: 60%;
			width: auto;
		}

		.angle.bottom {
			height: 110%;
			width: auto;
		}
	}
}


//THUMBNAIL FOR A VIDEO

.video-thumbnail {
	display: block;
	position: relative;
	overflow: hidden;
	padding-bottom: 56%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&:before {
		display: block;
		position: absolute;
		z-index: 1;
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: $pure-black;
		opacity: 0.8;
		@include transition;

		.white& {
			background-color: $white;
		}

		.red& {
			background-color: $red;
		}

		.orange& {
			background-color: $orange;
		}

		.green& {
			background-color: $green;
		}

		.blue& {
			background-color: $blue;
		}

		.navy& {
			background-color: $navy;
		}
	}

	.play-cta {
		display: block;
		position: absolute;
		z-index: 3;
		width: 100%;
		padding: 20px;
		text-align: center;
		color: $white;
		top: 50%;
		.translateY(-50%);

		.play-icon {
			max-width: 25%
		}

		>span {
			display: block;
		}

		.title {
			font-weight: 400;
			margin-top: 15px;
			font-size: 20px;
			line-height: 25px;
		}

		.sub {
			margin-top: 5px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 14px;
			line-height: 20px;
			max-height: 0px;
			opacity: 0;
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
		}
	}

	&:hover {
		&:before {
			opacity: 0.6;
		}

		.sub {
			max-height: 100px;
			opacity: 1;
		}
	}
}