//agenda at a glance with colored bars
.agenda-bars-mobile {
    display: flex;
    background-color: rgba(0,0,0,.4);
    padding: 1em;
    color: $white;
    @include medium {
        display: none;
    }
    .event-col {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .event-title {
            padding: .5em;
            //MONDAY
            &:nth-child(2) { //Pre-Event Education
                background-color: $navy;
            }
            &:nth-child(3) { //Partner Forum
                background-color: $orange;
            }
            &:nth-child(4) { //Expo Hall & Lounge
                background-color: $gray;
            }

            //TUESDAY
            &:nth-child(6) { //General Session
                background-color: $green;
            }
            &:nth-child(7) { //Session & Workshops
                background-color: $red;
            }
            &:nth-child(8) { //Expo Hall & Lounge
                background-color: $gray;
            }
            &:nth-child(9) { //Block Party
                background-color: darken($blue, 12%);
            }
            &:nth-child(10) { //Executive Forum
                background-color: $orange;
            }
            &:nth-child(11) { //Women in Tech
                background-color: $blue;
            }
            &:nth-child(12) { //Datathon
                background-color: lighten($navy, 7%);
            }

            //WEDNESDAY
            &:nth-child(14) { //General Session
                margin-top: 1.2em;
                background-color: $green;
            }
            &:nth-child(15) { //Session & Workshops
                background-color: $red;
            }
            &:nth-child(16) { //Expo Hall & Lounge
                background-color: $gray;
            }
            &:nth-child(17) { //Datathon
                background-color: lighten($navy, 7%);
            }

            //THURSDAY
            &:nth-child(19) { //Pre-Event Education
                margin-top: 1.2em;
                background-color: $navy;
            }
        }
    }
}

.agenda-bars {
    display: none;
    @include medium{
        display: grid;
        padding: 20px;
        grid-template-columns: 150px;
        grid-template-rows: 40px;
        background-color: rgba($color: #000000, $alpha: .4);
    }
    @include large {
        grid-template-columns: 280px;
    }

    .day-label {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $white;
        @include medium {
            flex-direction: row;
            justify-content: space-around;
            grid-column: 1/6;
            grid-row: 1/2;
            border-bottom: 1px solid rgba(255, 255, 255, .7);
        }
    }

    .event-col {
        display: grid;
        color:$white;
        @include medium{
            grid-column: 1/6;
            grid-row: 2/11;
        }
    }

    .event-title {
        padding: .5em;
        &:nth-child(1) { // pre-event education
            background-color: $navy;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &:nth-child(2) { // post-evet education
            background-color: $navy;
            grid-column: 4/5;
            grid-row: 2/3;
        }
        &:nth-child(3) { // expo hall and lounge
            background-color: $gray;
            grid-column: 1/4;
            grid-row: 3/4;
        }
        &:nth-child(4) { // Partner Forum
            background-color: $orange;
            grid-column: 1/2;
            grid-row: 4/5;
        }
        &:nth-child(5) { // General Sessions
            background-color: $green;
            grid-column: 2/4;
            grid-row: 5/6;
        }
        &:nth-child(6) { // Workshops & Sessions
            background-color: $red;
            grid-column: 2/4;
            grid-row: 6/7;
        }
        &:nth-child(7) { // Executive Forum
            background-color: $orange;
            grid-column: 2/3;
            grid-row: 7/8;
        }
        &:nth-child(8) { // Women in Tech
            background-color: $blue;
            grid-column: 2/3;
            grid-row: 8/9;
        }
        &:nth-child(9) { // Block Party
            background-color: darken($blue, 12%);
            grid-column: 2/3;
            grid-row: 9/10;
        }
        &:nth-child(10) { // futures
            background-color: darken($green, 20%);
            padding: .3em 1em;
            grid-column: 3/4;
            grid-row: 5/6;
            height: 35px;
        }
        &:nth-child(11) { // datathon
            background-color: lighten($navy, 7%);
            grid-column: 1/3;
            grid-row: 11/12;
        }
    }
}

    .event {
        display: block;
        position: relative;
        z-index: 1;
        background-color: $black;
        color: $white;

        .event-time {
            display: none;
        }

        .event-title {
            display: block;
            padding: 5px;
            height: 36px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }

        &.special {
            background-color: $green;
        }

        &.reg {
            background-color: $navy;
        }

        &.session {
            background-color: $red;
        }

        &.meal {
            background-color: $orange;
        }

        @include small {
            width: 100% !important;
            margin-left: 0px !important;
            margin-bottom: 20px;

            .event-title {
                height: auto;
                white-space: normal;
            }

            .event-time {
                display: block;
                background-color: fade-out($pure-black, .7);
                padding: 5px;
                font-size: 14px;
                line-height: 1em;
            }
        }
    }
