//grid blocks for column fills
.height {
    &-jumbo {
        min-height: 800px;
    }

    &-x-large {
        min-height: 400px;
    }

    &-large {
        min-height: 200px;
    }

    &-medium {
        min-height: 100px;
    }

    &-small {
        min-height: 50px;
    }

    &-x-small {
        min-height: 25px;
    }

    &-tiny {
        min-height: 12.5px;
        line-height: 0;
    }

    &-x-tiny {
        min-height: 8px;
        line-height: 0;
    }
}

.pattern-between {
    border: 1px solid $white;
}

.background-pattern {
    background-repeat: repeat;
    background-color: $black;
    border: 2px solid $white;

    //red background options
    &.pattern-squiggles {
        background-color: $red;
        background-image: url($pattern-squiggles);
        background-size: 176px * .5;

        &.pattern-large {
            background-size: 176px;
        }

        &.pattern-small {
            background-size: 176px * .33;
        }
    }

    &.pattern-vertical-bars {
        background-color: $red;
        background-image: url($pattern-vertical-bars);
        background-size: 168px * .5;

        &.pattern-large {
            background-size: 168px;
        }

        &.pattern-small {
            background-size: 168px * .33;
        }
    }

    &.pattern-round-dots {
        background-color: $red;
        background-image: url($pattern-round-dots);
        background-size: 1195px * .33;

        &.pattern-large {
            background-size: 1195px * .6;
        }

        &.pattern-small {
            background-size: 1195px * .25;
        }
    }

    &.pattern-square-dots {
        background-color: $red;
        background-image: url($pattern-square-dots);
        background-size: 1680px * .33;

        &.pattern-large {
            background-size: 1680px * .6;
        }

        &.pattern-small {
            background-size: 1680px * .25;
        }
    }

    //orange background options
    &.pattern-ribbon {
        background-color: $orange;
        background-image: url($pattern-ribbon);
        background-size: 540px * .5;

        &.pattern-large {
            background-size: 540px;
        }

        &.pattern-small {
            background-size: 540px * .33;
        }
    }

    &.pattern-stacked-bars {
        background-color: $orange;
        background-image: url($pattern-stacked-bars);
        background-size: 848px * .33;

        &.pattern-large {
            background-size: 848px * .4;
        }

        &.pattern-small {
            background-size: 848px * .2;
        }
    }

    //blue background options
    &.pattern-split-circles {
        background-color: $blue;
        background-image: url($pattern-split-circles);
        background-size: 515px * .5;

        &.pattern-large {
            background-size: 515px;
        }

        &.pattern-small {
            background-size: 515px * .33;
        }
    }

    &.pattern-sparse-triangles {
        background-color: $blue;
        background-image: url($pattern-sparse-triangles);
        background-size: 935px * .5;

        &.pattern-large {
            background-size: 935px;
        }

        &.pattern-small {
            background-size: 935px * .33;
        }
    }

    &.pattern-triangles {
        background-color: $blue;
        background-image: url($pattern-triangles);
        background-size: 309px * .5;

        &.pattern-large {
            background-size: 309px;
        }

        &.pattern-small {
            background-size: 309px * .33;
        }
    }

    &.pattern-static-triangles {
        background-color: $blue;
        background-image: url($pattern-static-triangles);
        background-repeat: no-repeat;
    }

    //white background options
    &.pattern-tartan {
        background-color: $white;
        background-image: url($pattern-tartan);
        background-size: 1623px * .33;

        &.pattern-large {
            background-size: 1623px * .5;
        }

        &.pattern-small {
            background-size: 1623px * .2;
        }
    }
    //navy background options
    &.pattern-horseshoe {
        background-color: $navy;
        background-image: url($pattern-horseshoe);
        background-size: 1200px * .33;

        &.pattern-large {
            background-size: 1200px * .5;
        }

        &.pattern-small {
            background-size: 1200px * .2;
        }
    }
    &.pattern-squiggles-navy {
        background-color: $navy;
        background-image: url($pattern-squiggles-navy);
        background-size: 1200px * .33;

        &.pattern-large {
            background-size: 1200px * .5;
        }

        &.pattern-small {
            background-size: 1200px * .2;
        }
    }
    //green background options
    &.pattern-abstract {
        background-color: $green;
        background-image: url($pattern-abstract);
        background-size: 1300px * .33;

        &.pattern-large {
            background-size: 1300px * .5;
        }

        &.pattern-small {
            background-size: 1300px * .2;
        }
    }
    &.pattern-confetti {
        background-color: $green;
        background-image: url($pattern-confetti);
        background-size: 1300px * .33;

        &.pattern-large {
            background-size: 1300px * .5;
        }

        &.pattern-small {
            background-size: 1300px * .2;
        }
    }
}


.pattern-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    @include translateX(-50%);

    @include xlarge {
        max-width: $xl-breakpoint;
    }

    .static-pattern {
        position: absolute;
    }


}
.pos-top {
    top: 0;
    &-5 {
        top: 5px;
    }
    &-10 {
        top: 10px;
    }
    &-15 {
        top: 15px;
    }
    &-20 {
        top: 20px;
    }
    &-25 {
        top: 25px;
    }
    &-30 {
        top: 30px;
    }
    &-35 {
        top: 35px;
    }
    &-40 {
        top: 40px;
    }
    &-45 {
        top: 45px;
    }
    &-50 {
        top: 50px;
    }
    &-55 {
        top: 55px;
    }
    &-60 {
        top: 60px;
    }
    &-65 {
        top: 65px;
    }
    &-70 {
        top: 70px;
    }
    &-75 {
        top: 75px;
    }
    &-80 {
        top: 80px;
    }
    &-85 {
        top: 85px;
    }
    &-90 {
        top: 90px;
    }
    &-95 {
        top: 95px;
    }
    &-100 {
        top: 100px;
    }
    &-neg-5 {
        top: -5px;
    }
    &-neg-10 {
        top: -10px;
    }
    &-neg-15 {
        top: -15px;
    }
    &-neg-20 {
        top: -20px;
    }
    &-neg-25 {
        top: -25px;
    }
    &-neg-30 {
        top: -30px;
    }
    &-neg-35 {
        top: -35px;
    }
    &-neg-40 {
        top: -40px;
    }
    &-neg-45 {
        top: -45px;
    }
    &-neg-50 {
        top: -50px;
    }
    &-neg-55 {
        top: -55px;
    }
    &-neg-60 {
        top: -60px;
    }
    &-neg-65 {
        top: -65px;
    }
    &-neg-70 {
        top: -70px;
    }
    &-neg-75 {
        top: -75px;
    }
    &-neg-80 {
        top: -80px;
    }
    &-neg-85 {
        top: -85px;
    }
    &-neg-90 {
        top: -90px;
    }
    &-neg-95 {
        top: -95px;
    }
    &-neg-100 {
        top: -100px;
    }
}

.pos-bottom {
    bottom: 0;
    &-5 {
        bottom: 5px;
    }
    &-10 {
        bottom: 10px;
    }
    &-15 {
        bottom: 15px;
    }
    &-20 {
        bottom: 20px;
    }
    &-25 {
        bottom: 25px;
    }
    &-30 {
        bottom: 30px;
    }
    &-35 {
        bottom: 35px;
    }
    &-40 {
        bottom: 40px;
    }
    &-45 {
        bottom: 45px;
    }
    &-50 {
        bottom: 50px;
    }
    &-55 {
        bottom: 55px;
    }
    &-60 {
        bottom: 60px;
    }
    &-65 {
        bottom: 65px;
    }
    &-70 {
        bottom: 70px;
    }
    &-75 {
        bottom: 75px;
    }
    &-80 {
        bottom: 80px;
    }
    &-85 {
        bottom: 85px;
    }
    &-90 {
        bottom: 90px;
    }
    &-95 {
        bottom: 95px;
    }
    &-100 {
        bottom: 100px;
    }
    &-neg-5 {
        bottom: -5px;
    }
    &-neg-10 {
        bottom: -10px;
    }
    &-neg-15 {
        bottom: -15px;
    }
    &-neg-20 {
        bottom: -20px;
    }
    &-neg-25 {
        bottom: -25px;
    }
    &-neg-30 {
        bottom: -30px;
    }
    &-neg-35 {
        bottom: -35px;
    }
    &-neg-40 {
        bottom: -40px;
    }
    &-neg-45 {
        bottom: -45px;
    }
    &-neg-50 {
        bottom: -50px;
    }
    &-neg-55 {
        bottom: -55px;
    }
    &-neg-60 {
        bottom: -60px;
    }
    &-neg-65 {
        bottom: -65px;
    }
    &-neg-70 {
        bottom: -70px;
    }
    &-neg-75 {
        bottom: -75px;
    }
    &-neg-80 {
        bottom: -80px;
    }
    &-neg-85 {
        bottom: -85px;
    }
    &-neg-90 {
        bottom: -90px;
    }
    &-neg-95 {
        bottom: -95px;
    }
    &-neg-100 {
        bottom: -100px;
    }
}

.pos-left {
    left: 0;
    &-5 {
        left: 5px;
    }
    &-10 {
        left: 10px;
    }
    &-15 {
        left: 15px;
    }
    &-20 {
        left: 20px;
    }
    &-25 {
        left: 25px;
    }
    &-30 {
        left: 30px;
    }
    &-35 {
        left: 35px;
    }
    &-40 {
        left: 40px;
    }
    &-45 {
        left: 45px;
    }
    &-50 {
        left: 50px;
    }
    &-55 {
        left: 55px;
    }
    &-60 {
        left: 60px;
    }
    &-65 {
        left: 65px;
    }
    &-70 {
        left: 70px;
    }
    &-75 {
        left: 75px;
    }
    &-80 {
        left: 80px;
    }
    &-85 {
        left: 85px;
    }
    &-90 {
        left: 90px;
    }
    &-95 {
        left: 95px;
    }
    &-100 {
        left: 100px;
    }
    &-neg-5 {
        left: -5px;
    }
    &-neg-10 {
        left: -10px;
    }
    &-neg-15 {
        left: -15px;
    }
    &-neg-20 {
        left: -20px;
    }
    &-neg-25 {
        left: -25px;
    }
    &-neg-30 {
        left: -30px;
    }
    &-neg-35 {
        left: -35px;
    }
    &-neg-40 {
        left: -40px;
    }
    &-neg-45 {
        left: -45px;
    }
    &-neg-50 {
        left: -50px;
    }
    &-neg-55 {
        left: -55px;
    }
    &-neg-60 {
        left: -60px;
    }
    &-neg-65 {
        left: -65px;
    }
    &-neg-70 {
        left: -70px;
    }
    &-neg-75 {
        left: -75px;
    }
    &-neg-80 {
        left: -80px;
    }
    &-neg-85 {
        left: -85px;
    }
    &-neg-90 {
        left: -90px;
    }
    &-neg-95 {
        left: -95px;
    }
    &-neg-100 {
        left: -100px;
    }
}

.pos-right {
    right: 0;
    &-5 {
        right: 5px;
    }
    &-10 {
        right: 10px;
    }
    &-15 {
        right: 15px;
    }
    &-20 {
        right: 20px;
    }
    &-25 {
        right: 25px;
    }
    &-30 {
        right: 30px;
    }
    &-35 {
        right: 35px;
    }
    &-40 {
        right: 40px;
    }
    &-45 {
        right: 45px;
    }
    &-50 {
        right: 50px;
    }
    &-55 {
        right: 55px;
    }
    &-60 {
        right: 60px;
    }
    &-65 {
        right: 65px;
    }
    &-70 {
        right: 70px;
    }
    &-75 {
        right: 75px;
    }
    &-80 {
        right: 80px;
    }
    &-85 {
        right: 85px;
    }
    &-90 {
        right: 90px;
    }
    &-95 {
        right: 95px;
    }
    &-100 {
        right: 100px;
    }
    &-neg-5 {
        right: -5px;
    }
    &-neg-10 {
        right: -10px;
    }
    &-neg-15 {
        right: -15px;
    }
    &-neg-20 {
        right: -20px;
    }
    &-neg-25 {
        right: -25px;
    }
    &-neg-30 {
        right: -30px;
    }
    &-neg-35 {
        right: -35px;
    }
    &-neg-40 {
        right: -40px;
    }
    &-neg-45 {
        right: -45px;
    }
    &-neg-50 {
        right: -50px;
    }
    &-neg-55 {
        right: -55px;
    }
    &-neg-60 {
        right: -60px;
    }
    &-neg-65 {
        right: -65px;
    }
    &-neg-70 {
        right: -70px;
    }
    &-neg-75 {
        right: -75px;
    }
    &-neg-80 {
        right: -80px;
    }
    &-neg-85 {
        right: -85px;
    }
    &-neg-90 {
        right: -90px;
    }
    &-neg-95 {
        right: -95px;
    }
    &-neg-100 {
        right: -100px;
    }
}

.shrink-circle-small {
    width: 2%;
}
.shrink-circle-medium {
    width: 4%;
}
.shrink-circle-large {
    width: 6%;
}
