//LABEL-LIKE TEXT BLOCKS
.text-label{
    display: inline-block;
    vertical-align: top;
    padding: 0.25em 0.75em;
    font-family: $myriad-pro;
    line-height: 1;
    font-weight: 600;
    white-space: nowrap;
    @include uppercase;

    // default
    font-size: $font-size-14px;
    background-color: $light-gray;
    color: $black;
}

.text-label-group {
    @include display(flex);
    @include flex-wrap(wrap);

    .text-label {
        margin: 0 5px 5px 0;
    }
}

.text-block-group {
    @include display(flex);
    @include flex-wrap(wrap);

    .text-block {
        margin: 0 5px 5px 0;
    }
}
