//About the Conference
#about {
    .photo {
        @include medium {
            float: left;
            max-width: none;
            margin-left: -10%;
            width: 120%;
        }

        @include large {
            margin-left: 40px;
            width: 200%;
        }

        @include xlarge {
            width: 145%;
        }
    }

    .pattern-overlay .static-pattern {
        &.pos-top-right {
            top: -2%;
            right: -35%;
        }

        &.pos-bottom-left {
            bottom: -4%;
        }

        @include medium {
            &.pos-top-right {
                top: -7%;
            }

            &.pos-bottom-left {
                bottom: -8%;
            }
        }

        @include large {
            &.pos-top-right {
                top: -7%;
                right: -20%;
            }

            &.pos-bottom-left {
                bottom: -10%;
            }
        }

        @include doubleLarge {
            &.pos-top-right {
                top: -2%;
                right: -6%;
            }

            &.pos-bottom-left {
                bottom: -10%;
                left: -11%;
            }
        }
    }
}