#pricing-registration {
    .pattern-overlay .static-pattern {
        &.pos-top {
            max-width: none;
            left: 45%;
        }

        &.pos-bottom {
            right: 75%
        }
    }
}