//////////////////////HOME PAGE
#home-page {

	#hero {
		border: 1px solid $white;

		.col {
			@include display(flex);
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);

		}

		.background-blue,
		.photo {
			border: 2px solid $white;
		}

		.title-copy-col>h1 {
			padding: 50px 50px 50px 10px;
			text-align: center;

			@include large {
				text-align: left;
				max-width: $lg-breakpoint / 2;
				@include align-self(flex-end);
			}

			@include xlarge {
				max-width: $xl-breakpoint / 2;
			}
		}

		.cta-button {
			margin: 0;
			box-shadow: none;
			border: 2px solid $white;
		}
	}

	.last-call {
		font-weight: 600;
		color: #da1f26;
		padding: 0 20px;

		& p {
			font-size: 1.4em;
		}
	}

	#about {
		.photo {
			@include medium {
				float: left;
				max-width: none;
				margin-left: -10%;
				width: 120%;
			}

			@include large {
				margin-left: 40px;
				width: 200%;
			}

			@include xlarge {
				width: 145%;
			}
		}

		.pattern-overlay .static-pattern {
			&.pos-top {
				left: 65%;
			}

			@include medium {
				&.pos-top {
					left: 55%;
				}

				&.pos-bottom {
					right: 78%;
				}
			}
		}
	}
	
	@import '../components/agenda-bar';

	#agenda {
		.time-block-wrapper.col {
			@include display(flex);
		}

		.agenda-day {
			padding: 20px;
			background-color: fade-out($navy, .3);

			>h5 {
				padding-bottom: 10px;
			}

			.time-block:before {
				left: 0;
			}
		}

		.pattern-overlay .static-pattern {
			&.pos-top {
				left: 75%;
			}

			&.pos-bottom {
				right: 62%;
			}
		}
	}

	#venue {
		.map-col {
			position: relative;

			.static-pattern {
				position: absolute;
				z-index: 1;
				bottom: 0;
				right: 75%;
			}
		}

		.map-container {
			&:before {
				padding-bottom: 115%;

				@include medium {
					padding-bottom: 56.66%;
				}

				@include large {
					padding-bottom: 95%;
				}

				@include xlarge {
					padding-bottom: 75%;
				}
			}

			@include large {
				float: right;
				margin-right: 40px;
				width: 130%;
			}

			@include xlarge {
				width: 125%;
			}
		}

		.static-map {
			float: right;
			width: 250%;
			max-width: none;
			margin-bottom: -30%;

			@include medium {
				width: 130%;
				margin-bottom: 0;
			}

			@include large {
				width: 1200px;
				margin-right: 40px;
				margin-bottom: 0;
			}
		}

		.pattern-overlay .static-pattern {
			&.pos-top {
				left: 55%;
			}
		}
	}

	#pricing-registration {
		.pattern-overlay .static-pattern {
			&.pos-top {
				max-width: none;
				left: 45%;
			}

			&.pos-bottom {
				right: 75%
			}
		}
	}

	#highlights {
		.pattern-overlay .static-pattern {
			&.pos-left {
				top: 300px;
			}
		}

		.photo-mosaic {
			border: 1px solid $white;
		}

		.photo {
			border: 2px solid $white;
		}

		.speaker-card {
			position: relative;
			width: 100%;
			margin-bottom: 15px;

			.speaker-photo {
				max-width: 150px;
				margin-bottom: 15px;

				&:before {
					display: none;
				}
			}

			@include medium {
				max-width: none;

				.speaker-photo {
					display: inline-block;
					vertical-align: middle;
					width: 25%;
					margin-right: 10px;
					margin-bottom: 0;
					max-width: 200px;
				}

				.info-box {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(75% - (10px + 3.5px));

					p:last-child {
						font-size: 16px;
						line-height: 18px;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	#call-to-action_new {
		background: linear-gradient(#254a58, #333333);
	}

	.final-cta {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-content: center;
		margin: 0 auto;
		position: relative;
		@include medium {
			width: 75%;
		}
		@include large {
			width: 60%;
		}
		@include xlarge {
			width: 50%;
		}

	}

	.final-cta img {
		width: 100%;
		height: 100%;
	}

	.final-cta .cta-button.large.red.expand {
		position: relative;
		width: 290px; 
		align-self: center;
		@include medium {
			position: absolute;
			align-self: center;
			width: 43%;
			margin-top: 0;
		}
	}

	.final-date {

		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
		padding-left: 1.2em;

		@include medium {
			flex-direction: row;
			padding-left: 0;
		}

		& .icon-lockup {
			padding: 10px 20px;
		}
	}
}