//////////////////////LIVE PAGE
#live-page {
	#hero-banner {background-image:url($world2017-keynote-tim-lang);}
	.keynote-holder {
		position:relative;
		background-color:$black;
		box-shadow:5px 5px 7px fade-out($pure-black, .5);
		iframe {
			position:absolute;
			top:0; left:0; bottom:0; right:0;
			height:100%; width:100%;
		}
	}
	#interview-promo {background-image:url($filming-setup);}
	.social-badge {
		display:inline-block; vertical-align:middle;
		margin-right:20px; margin-top:20px;
		width:150px;
		&:last-child {margin-right:0;}
	}
}