.icon-lockup {
    @include display(flex);
    @include align-items(center);
    padding: 10px 0;

    @include medium {
        padding: 10px 30px 10px 0;

    }

    .icon {
        margin-right: 15px;
    }

    >p {
        margin: 0;

        >strong {
            display: block;
        }
    }
}

.z {
    &-0 {
        z-index: 0;
        position: relative;
    }

    &-1 {
        z-index: 1;
        position: relative;
    }

    &-2 {
        z-index: 2;
        position: relative;
    }
}

.stretch-content {
    min-height: 100%;
}

@include small {
    .hide-sm {
        display: none !important;
    }
}

@include medium {
    .hide-md {
        display: none !important;
    }
}

.item-centered {
    margin-left: auto;
    margin-right: auto;
    display: block
}
